<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- The navbar is now only used in the login and signup pages -->
<nav th:fragment="navbar" class="navbar navbar-light border-bottom px-4">

    <!--    Hamburger Menu for mobile only-->
    <button class="navbar-toggler d-md-none layout-menu-toggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--  Hamburger Menu Contents  -->
    <div class="collapse navbar-collapse d-md-none" id="navbarMenu">
        <div class="d-flex flex-column gap-2 py-2">

            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span th:text="${#locale.language == 'en' ? 'EN' : 'PT'}">PT</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?lang=en">EN</a></li>
                    <li><a class="dropdown-item" href="?lang=pt">PT</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- NavBar for Desktop-->
    <div class="ms-auto d-none d-md-flex gap-2">

        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span th:text="${#locale.language == 'en' ? 'EN' : 'PT'}">PT</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="?lang=en">EN</a></li>
                <li><a class="dropdown-item" href="?lang=pt">PT</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>